@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* #screen {
  background-color: #e0eefa;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

h1 {
  color: #332464;
  margin-bottom: 15px;
}

p {
  color: #746ab0;
  font-size: 16px;
}
